<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

<h1>OVERSKRIFT</h1>
<div>
    <a href = "/create">
        <button class="button"><span>Create new product</span></button>
    </a>
    <table>
        <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Description</td>
            <td>Price</td>
        </tr>
        <tr th:each="item: ${products}">
            <td th:text="${item.product_id}"/>
            <td th:text="${item.product_name}"/>
            <td th:text="${item.product_desc}"/>
            <td th:text="${item.product_price}"/>
            <td>
                <a th:href="@{'/delete/'+${item.product_id}}">
                    <button>Delete</button>
                </a>
                <a th:href="@{'/productUpdate/'+${item.product_id}}">
                    <button>Update info</button>
                </a>
            </td>
        </tr>
        </thead>
    </table>
</div>


</body>
</html>