<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>
<form action="#" th:action="@{/productUpdate}" th:object="${product}" method="post">
    <tr>
        <td><label>Product ID</label></td>
        <td><input type="text" name="product_id" th:value="${product_id}" hidden><br></td>
    </tr>
    <tr>
        <td><label>Product Name</label></td>
        <td><input type="text" th:field="*{product_name}" th:value="${product_name}"><br></td>
    </tr>
    <tr>
        <td><label>Description</label></td>
        <td><input type="text" th:field="*{product_desc}" th:value="${product_desc}"><br></td>
    </tr>
    <tr>
        <td><label>Price</label></td>
        <td><input type="text" th:field="*{product_price}" th:value="${product_price}"><br></td>
    </tr>
    <tr>
        <td><input class="button" type="submit" value="Update"></td>
    </tr>
</form>

</body>
</html>